{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        integrant/integrant {:mvn/version "0.8.0"}
        org.clojure/tools.logging {:mvn/version "1.2.4"}
        metosin/jsonista {:mvn/version "0.3.6"}}
 :aliases
 {:dev {:extra-paths ["dev"]
        :jvm-opts ["-Dclojure.tools.logging.factory=clojure.tools.logging.impl/jul-factory"]}
  :run-tests {:extra-paths ["test"]
              :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                           ring/ring-core {:mvn/version "1.9.6"}
                           peridot/peridot {:mvn/version "0.5.4"}
                           com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner"
                                                      :sha "7284cda41fb9edc0f3bc6b6185cfb7138fc8a023"}}
              :exec-fn cognitect.test-runner.api/test}
  :check-syntax-and-reflections {:extra-deps {athos/clj-check {:git/url "https://github.com/athos/clj-check.git"
                                                               :sha "518d5a1cbfcd7c952f548e6dbfcb9a4a5faf9062"}}
                                 :main-opts ["-m" "clj-check.check"]}
  :build {:deps {io.github.seancorfield/build-clj {:git/tag "v0.8.3" :git/sha "7ac1f8d" :deps/root "slim"}}
          :ns-default build}}}
